/*.btn-static {*/
/*color: rgba(255, 255, 255, 1);*/
/*background-color: rgba(51, 122, 183, 1);*/
/*border: 1px solid rgba(46, 109, 164, 1);*/
/*cursor: default;*/
/*}*/

/*.btn-static:hover {*/
/*color: rgba(255, 255, 255, 1);*/
/*background-color: rgba(51, 122, 183, 1);*/
/*border: 1px solid rgba(46, 109, 164, 1);*/
/*cursor: not-allowed;*/
/*}*/

/*.btn-default {*/
/*margin: 15px;*/
/*}*/
