.dotdotdot {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 12px;
}

.list-group-item-dotcom {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(23, 016, 180, 1);
}

.row-search {
    margin-bottom: 15px;
}

.glyphicon-search-collection {
    height: 20px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.aui-lozenge {
    background: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #333333;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 99%;
    margin: 0;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.bootstrap-tagsinput {
    width: 100% !important;
}

.has-error .bootstrap-tagsinput {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 6px #d59392;
}

.has-error .bootstrap-tagsinput {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .bootstrap-tagsinput {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 6px #7aba7b;
}

.has-success .bootstrap-tagsinput {
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
}

.disabled {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
    pointer-events: none;
}

.modal-body-small {
    height: 25%;
}

.modal-body-medium {
    height: 50%;
}

.modal-body-large {
    height: 75%;
}