html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: red;
}

footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}