<search-collection></search-collection>
<div class="list-group-item list-group-item-dotcom text-center clearfix">
    <div class="col-xs-1">Edit</div>
    <div class="col-xs-3 sortable unselectable" data-sort="name"><span class="glyphicon glyphicon-triangle-top"></span>Property</div>
    <div class="col-xs-2 sortable unselectable" data-sort="liveValue"><span class="glyphicon glyphicon-triangle-top"></span>Live</div>
    <div class="col-xs-2 sortable unselectable" data-sort="serverValue"><span class="glyphicon glyphicon-triangle-top"></span>Server</div>
    <div class="col-xs-2 sortable unselectable" data-sort="environmentValue"><span class="glyphicon glyphicon-triangle-top"></span>Environment</div>
    <div class="col-xs-2 sortable unselectable" data-sort="defaultValue"><span class="glyphicon glyphicon-triangle-top"></span>Default</div>
</div>
<liveconfig-collection-view></liveconfig-collection-view>
