<div class="row">
    <primary-view></primary-view>
</div>
<div class="row">
    <warning-view></warning-view>
</div>
<div class="row">
    <danger-view></danger-view>
</div>
<div class="row">
    <search-collection></search-collection>
</div>
<div class="row">
    <security-collection-view></security-collection-view>
</div>




