<div class="list-group-item text-center clearfix">
    <div class="col-xs-3 dotdotdot">{matcher}</div>
    <div class="col-xs-3 dotdotdot">{type}</div>
    <div class="col-xs-3 dotdotdot">{authority}</div>
    <div class="col-xs-3">
        <button class="btn btn-primary btn-edit" data-toggle="modal" data-target="#modal-collection-edit" data-backdrop="static" id="{id}">Edit</button>
    </div>
</div>
<modal-edit></modal-edit>