.has-error .bootstrap-select .btn:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 6px #d59392;
}

.has-error .bootstrap-select .btn {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .bootstrap-select .btn:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 6px #7aba7b;
}

.has-success .bootstrap-select .btn {
    border-color: #7aba7b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
}