@media (max-width: 768px) {
    #modal-unsaved-changes .modal-dialog {
        width: 325px;
        margin: 10px auto;
    }
}

@media (min-width: 768px) {
    #modal-unsaved-changes .modal-dialog {
        width: 420px;
        margin: 30px auto;
    }
}
