<div class="row row-search">
    {@eq key=createEnabled value="true"}
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <button type="button" class="btn btn-primary btn-create">Create</button>
        </div>
    {/eq}
    <div class="col-xs-{@eq key=createEnabled value="true"}11{:else}12{/eq} col-sm-{@eq key=createEnabled value="true"}11{:else}12{/eq} col-md-{@eq key=createEnabled value="true"}11{:else}12{/eq} col-lg-{@eq key=createEnabled value="true"}11{:else}12{/eq}">
        <input type="text" class="form-control input-group-search-box" placeholder="Search...">
    </div>
</div>