<div class="list-group-item text-center clearfix">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <span class="glyphicon glyphicon-pencil btn btn-edit" id="{id}" title="Edit"></span>
    </div>
    <div class="col-xs-3 dotdotdot" title="{name}">{name}</div>
</div>