<search-collection></search-collection>
<div class="list-group-item list-group-item-dotcom text-center clearfix">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 unselectable dotdotdot">Edit</div>
    <div class="col-xs-3 sortable unselectable dotdotdot" data-sort="name"><span class="glyphicon glyphicon-triangle-top"></span>Name</div>
</div>
<offeredcoverage-collection-view></offeredcoverage-collection-view>
