@media (min-width: 768px) {
    .container {
        width: 610px;
    }
}

@media (min-width: 922px) {
    .container {
        width: 730px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1700px) {
    .container {
        width: 1380px;
    }
}