[#ftl]


<!--
<footer>
    <div class="container">
        <p class="text-muted">${_global.applicationName}</p>
    </div>
</footer>
-->
</div>
</div>
</div>
</div>

<a class="beta-ribbon" href="https://bitbucket.org/mstruensee/betaprogrammers">
    <img alt="Betaprogrammers" src="https://mypresta.eu/content/uploads/2016/05/beta-version.png">
</a>
</body>
</html>