[#--[#ftl]--]

[#--<nav class="navbar navbar-inverse sidebar" role="navigation">--]
[#--<div class="container-fluid">--]
[#--<!-- Brand and toggle get grouped for better mobile display -->--]
[#--<div class="navbar-header">--]
[#--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">--]
[#--<span class="sr-only">Toggle navigation</span>--]
[#--<span class="icon-bar"></span>--]
[#--<span class="icon-bar"></span>--]
[#--<span class="icon-bar"></span>--]
[#--</button>--]
[#--<a class="navbar-brand" href="#">${_global.navbarBrand}</a>--]
[#--</div>--]
[#--<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">--]
[#--<ul class="nav navbar-nav">--]
[#--<li class="dropdown-header">Organization</li>--]


[#--<li [#if module?lower_case="home"] class="active"[/#if]><a href="/home">Home<span class="pull-right hidden-xs showopacity glyphicon glyphicon-home nav-icon"></span></a></li>--]
[#--<li [#if module?lower_case="about"] class="active"[/#if]><a href="/about">About<span class="pull-right hidden-xs showopacity glyphicon glyphicon-user nav-icon"></span></a></li>--]
[#--<li [#if module?lower_case="contact"] class="active"[/#if]><a href="/contact">Contact<span class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope nav-icon"></span></a></li>--]
[#--<li class="dropdown">--]
[#--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span><span class="pull-right hidden-xs showopacity glyphicon glyphicon-cog nav-icon"></span></a>--]
[#--<ul class="dropdown-menu " role="menu">--]
[#--<li [#if module?lower_case="admin"] class="active"[/#if]><a href="/admin">Admin</a></li>--]
[#--<li><a href="#">Another action</a></li>--]
[#--<li><a href="#">Something else here</a></li>--]
[#--<li class="divider"></li>--]
[#--<li><a href="#">Separated link</a></li>--]
[#--<li class="divider"></li>--]
[#--<li><a href="#">One more separated link</a></li>--]
[#--</ul>--]
[#--</li>--]
[#--</ul>--]
[#--</div>--]
[#--</div>--]
[#--</nav>--]
[#--<div class="main">--]
[#--<div id="spinner"></div>--]
[#--<div id="overlay"></div>--]
