[#--[#ftl]--]
[#--<div class="container-fluid">--]
[#--<div class="row">--]
[#--<div class="col-sm-2 col-md-2">--]
[#--<div class="panel-group" id="accordion">--]
[#--<div class="panel panel-default">--]
[#--<div class="panel-heading">--]
[#--<h4 class="panel-title">--]
[#--<a data-toggle="collapse" data-parent="#accordion" href="#collapseOrganization"><span class="glyphicon glyphicon-folder-close">--]
[#--</span>Organization</a>--]
[#--</h4>--]
[#--</div>--]
[#--<div id="collapseOrganization" class="panel-collapse collapse">--]
[#--<div class="panel-body">--]
[#--<table class="table">--]
[#--<tr>--]
[#--<td><span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Company</a></td>--]
[#--</tr>--]
[#--<tr>--]
[#--<td><span class="glyphicon glyphicon-flash text-success"></span><a href="#">Activity tracking</a></td>--]
[#--</tr>--]
[#--<tr>--]
[#--<td><span class="glyphicon glyphicon-file text-info"></span><a href="#">Letter of Credit</a></td>--]
[#--</tr>--]
[#--<tr>--]
[#--<td><span class="glyphicon glyphicon-comment text-success"></span><a href="#">Contact</a></td>--]
[#--</tr>--]
[#--<tr>--]
[#--<td><span class="glyphicon glyphicon-comment text-success"></span><a href="#">Company relationship</a></td>--]
[#--</tr>--]
[#--<tr>--]
[#--<td>--]
[#--<span class="glyphicon glyphicon-comment text-success"></span><a href="#">Import NAIC file</a></td>--]
[#--</tr>--]
[#--</table>--]
[#--</div>--]
[#--</div>--]
[#--</div>--]
[#--<div class="panel panel-default">--]
[#--<div class="panel-heading">--]
[#--<h4 class="panel-title">--]
[#--<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">--]
[#--</span>Modules</a>--]
[#--</h4>--]
[#--</div>--]
[#--<div id="collapseTwo" class="panel-collapse collapse">--]
[#--<div class="panel-body">--]
[#--<table class="table">--]
[#--<tr>--]
[#--<td>--]
[#--<a href="#">Orders</a> <span class="label label-success">$ 320</span>--]
[#--</td>--]
[#--</tr>--]
[#--<tr>--]
[#--<td>--]
[#--<a href="#">Invoices</a>--]
[#--</td>--]
[#--</tr>--]
[#--<tr>--]
[#--<td>--]
[#--<a href="#">Shipments</a>--]
[#--</td>--]
[#--</tr>--]
[#--<tr>--]
[#--<td>--]
[#--<a href="#">Tex</a>--]
[#--</td>--]
[#--</tr>--]
[#--</table>--]
[#--</div>--]
[#--</div>--]
[#--</div>--]
[#--<div class="panel panel-default">--]
[#--<div class="panel-heading">--]
[#--<h4 class="panel-title">--]
[#--<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">--]
[#--</span>Account</a>--]
[#--</h4>--]
[#--</div>--]
[#--<div id="collapseThree" class="panel-collapse collapse">--]
[#--<div class="panel-body">--]
[#--<table class="table">--]
[#--<tr>--]
[#--<td>--]
[#--<a href="#">Change Password</a>--]
[#--</td>--]
[#--</tr>--]
[#--<tr>--]
[#--<td>--]
[#--<a href="#">Notifications</a> <span class="label label-info">5</span>--]
[#--</td>--]
[#--</tr>--]
[#--<tr>--]
[#--<td>--]
[#--<a href="#">Import/Export</a>--]
[#--</td>--]
[#--</tr>--]
[#--<tr>--]
[#--<td>--]
[#--<span class="glyphicon glyphicon-trash text-danger"></span><a href="#" class="text-danger">--]
[#--Delete Account</a>--]
[#--</td>--]
[#--</tr>--]
[#--</table>--]
[#--</div>--]
[#--</div>--]
[#--</div>--]
[#--<div class="panel panel-default">--]
[#--<div class="panel-heading">--]
[#--<h4 class="panel-title">--]
[#--<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">--]
[#--</span>Reports</a>--]
[#--</h4>--]
[#--</div>--]
[#--<div id="collapseFour" class="panel-collapse collapse">--]
[#--<div class="panel-body">--]
[#--<table class="table">--]
[#--<tr>--]
[#--<td>--]
[#--<span class="glyphicon glyphicon-usd"></span><a href="#">Sales</a>--]
[#--</td>--]
[#--</tr>--]
[#--</table>--]
[#--</div>--]
[#--</div>--]
[#--</div>--]
[#--</div>--]
[#--</div>--]
[#--<div class="col-sm-9 col-md-9">--]